@model JustBlog.Models.PagedListViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">

    <h1>@ViewBag.Title</h1>

    @if (Model.ViewModel.Posts.Count() > 0)
    {
        foreach (var post in Model.ViewModel.Posts)
        {
            @Html.Partial("_PostTemplate", post)
        }
    }
    else
    {
        <p>Упс! Записей не найдено!</p>
    }

    @Html.Partial("_Pager", Model.ViewModel)

    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Posts", new { page = x }))



</div>